/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/tests/dump_docs/error_code_list.md
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store